<template>
  <div class="sm:mix-blend-difference">
    <nav>
      <div class="mx-auto px-2 sm:px-6 lg:px-8">
        <div class="relative flex items-center justify-between h-20">
            <!-- Mobile menu button-->
          <div class="absolute inset-y-0 left-0 flex items-center sm:hidden z-50">
            <button @click="toggleMobile"
              type="button" class="inline-flex items-center justify-center p-2 text-gray-400 focus:outline-none focus:ring-2 focus:ring-inset focus:ring-white" aria-controls="mobile-menu" aria-expanded="false">
              <span class="sr-only">Open main menu</span>
              <!--Icon when menu is closed. - Heroicon name: outline/menu - Menu open: "hidden", Menu closed: "block" -->
              <svg class="h-6 w-6" :class="{'hidden': open}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
              </svg>
              <!-- Icon when menu is open. - Heroicon name: outline/x - Menu open: "block", Menu closed: "hidden" -->
              <svg class="h-6 w-6" :class="{'hidden': !open}" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
              </svg>
            </button>
          </div>
          <div class="flex-1 flex items-center justify-center sm:items-stretch sm:justify-end ">
            <div class="hidden sm:block">
              <div class="flex space-x-4">
                <NuxtLink v-for="(item,index) in navitems" :to="item.link" :key="index"
                  class="text-white font-light link desktop-link px-6 py-2"
                  aria-current="page"
                >
                <span class="relative block overflow-hidden">
                  <span class="desktop-link--text">{{ item.title }}</span>
                  <span class="desktop-link--hover">{{ item.title }}</span>
                </span>
                </NuxtLink>
              </div>
            </div>
          </div>
        </div>
      </div>

      <!-- Mobile menu, show/hide based on menu state. -->
      <transition>
        <div v-if="open" class="fixed inset-0 sm:hidden
        z-40" id="mobile-menu">
          <nav class="absolute">
            <NuxtLink v-for="(item, index) in navitems" :to="item.link" :key="index"
              class="hover:text-gray-500 block px-3 py-3 mobile-menu--link
               text-4xl"
              aria-current="page">
              {{ item.title }}
            </NuxtLink>
          </nav>
          <div class="absolute top-7 right-5 flex items-center
              text-gray-600
          " id="mobile-menu--title">
            .is('Johannes Grupp')
          </div>
        </div>
      </transition>
    </nav>
  </div>
</template>

<script>
  import nav from '../models/nav';

export default {
  name: "Appbar",
  data: function () {
    return {
      open: false,
      navitems: nav
    }
  },
  watch: {
    '$route': function() {
      this.open = false;
    }
  },
  methods: {
    toggleMobile() {
      this.open = !this.open;
    }
  }
}
</script>

<style scoped>

  #mobile-menu {
    background-color: rgba(255,255,255, 0.98);
  }

  #mobile-menu nav {
    top: 20vh;
    left: 5%;
  }

  #mobile-menu nav .nuxt-link-exact-acstive {
    color: theme('colors.gray.500');
  }

  .mobile-menu--link {
    transition: color .6s theme('custom.animation');
  }

  .v-enter-active,
  .v-leave-active {
    transition: opacity .8s theme('custom.animation');
  }

  .v-enter,
  .v-leave-to {
    opacity: 0;
  }

  .desktop-link:after {
    transition: width .6s theme('custom.animation'), background-color .6s theme('custom.animation');
    content: '';
    height: 1px;
    display: block;
    width: 1px;
    background-color: black;
  }
  .desktop-link:after {
    position: relative;
    top: 7px;
  }
  .desktop-link:hover:after {
    width: 100%;
    background-color: #fff;
  }
  .desktop-link:hover .desktop-link--text,
  .desktop-link.nuxt-link-exact-active .desktop-link--text {
    transform: translateY(-100%);
   }
  .desktop-link:hover .desktop-link--hover,
  .desktop-link.nuxt-link-exact-active .desktop-link--hover {
    transform: translateY(0);
   }

  .desktop-link--text {
    position: relative;
    display: block;
    transition: transform .6s theme('custom.animation');
    opacity: .7;
  }

  .desktop-link--hover {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    transform: translateY(calc(100% + 41px));
    transition: transform .6s theme('custom.animation');
  }

</style>
