<template>
<div class="relative lg:h-screen lg:overflow-hidden">
  <div id="fixed-target" class="hidden lg:block"></div>
  <footer id="footer-desktop" class="hidden lg:flex
    text-white bg-black flex-col items-center content-center justify-center font-extralight pt-24"
    data-scroll data-scroll-target="#fixed-target" data-scroll-sticky  data-scroll-offset="0,0"
  >
    <p class="uppercase mb-12 tracking-widest">get in touch</p>
    <a :href="'mailto:'+ mail" class="text-5xl mb-14 mail">{{ mail }}</a>
    <a :href="socialLinks.linkedin.href" target="_blank" class="tracking-wide socials mb-3">{{ socialLinks.linkedin.title }}</a>
    <a :href="socialLinks.xing.href" target="_blank" class="tracking-wide socials">{{ socialLinks.xing.title }}</a>
    <div class="icons font-normal text-sm">
      <a v-for="link in socialLinks" :href="link.href" target="_blank" :title="link.title">{{ link.text }}</a>
    </div>
  </footer>
  <footer id="footer-mobile" class="block lg:hidden
  text-white bg-black flex flex-col items-center content-center justify-center font-extralight pt-16 lg:pt-24
  ">
    <p class="uppercase mb-6 lg:mb-12 tracking-widest text-base">get in touch</p>
    <a :href="'mailto:'+ mail" class="
      text-2xl sm:text-4xl lg:text-5xl font-normal sm:font-extralight
      mb-6 lg:mb-14
      mail">{{ mail }}</a>
    <a :href="socialLinks.linkedin.href" target="_blank" class="tracking-wide socials mb-3">{{ socialLinks.linkedin.title }}</a>
    <a :href="socialLinks.xing.href" target="_blank" class="tracking-wide socials mb-24 lg:mb-0">{{ socialLinks.xing.title }}</a>
    <div class="icons font-normal text-sm">
      <a v-for="link in socialLinks" :href="link.href" target="_blank" :title="link.title">{{ link.text }}</a>
    </div>
  </footer>
</div>
</template>

<script>
export default {
  name: "Footer",
  data: () => ({
    mail: 'hi@johannesgrupp.online',
    socialLinks: {
      git: { title: 'Git Repository', text: 'Git', href: 'https://bitbucket.org/jgrp' },
      flickr: { title: 'Flickr', text: 'Fr', href: 'https://www.flickr.com/photos/197824334@N04/' },
      linkedin: { title: 'LinkedIn', text: 'Li', href: 'https://www.linkedin.com/in/johannes-grupp/' },
      xing: { title: 'Xing', text: 'Xn', href: 'https://www.xing.com/profile/Johannes_Grupp7/cv' },
    }
  })
}
</script>

<style scoped>

  #fixed-target {
    position: absolute;
    top: -100vh;
    bottom: -100vh;
    right: 0;
    left: 0;
  }

  footer#footer-desktop {
    position: absolute;
    left: 0;
    right: 0;
    top: -100vh;
    height: 100%;
  }

  /*html:not(.has-scroll-smooth) footer {*/
  /*  top: 0;*/
  /*}*/

  a.mail:after, a.socials:after {
    transition: width 0.6s theme('custom.animation'), background-color 0.6s theme('custom.animation');
    content: '';
    height: 2px;
    display: block;
    width: 1px;
    background-color: black;
  }

  a.mail:after {
    position: relative;
    top: 7px;
  }

  a.socials {
    font-weight: 300;
  }

  a.socials:after {
    height: 1px;
  }

  a.mail:hover:after, a.socials:hover:after {
    width: 100%;
    background-color: #fff;
  }

  .icons {
    position: absolute;
    bottom: 1.5rem;
  }
  .icons a {
    display: inline-block;
    padding: 0.5rem 1rem 0.5rem;
    transition: opacity 0.3s theme('custom.animation');
  }
  .icons:hover a {
    opacity: 0.5;
  }
  .icons a:hover {
    opacity: 1;
  }

  ::-moz-selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }
  ::selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }


</style>
