<template>
  <div class="flex items-center justify-center justify-items-center bg-cover bg-center w-full"
      :class="type">
    <div class="font-light" data-scroll data-scroll-speed="-2">
      <h1 class="text-4xl lg:text-7xl font-medium mb-4 ml-6">{{ title }}</h1>
      <div class="divider"></div>
      <div v-if="subtitle" class="ml-6 mt-4 overflow-hidden">
        <p class="text-2xl lg:text-3xl">{{ subtitle }}</p>
      </div>
    </div>
  </div>
</template>

<script>
  export default {
    name: "Hero",
    props: ['title', 'subtitle', 'type']
  }
</script>

<style scoped>

 .black {
    height: 500px;
    background-color: theme('colors.black');
    color: theme('colors.white')
   }

  .white {
    height: 500px;
  }

  h1 {
    font-size: calc(4.3vw + 20px);
    height: 40px;
    padding-top: 40px;
    overflow: hidden;
    transition: padding .4s theme('custom.animation');
    transition-delay: .7s;
  }
   @media (min-width: 1024px) {
    h1 {
      height: 4.5rem;
      padding-top: 4.5rem;
    }
   }
  .is-inview h1 {
    padding-top: 0;
  }

  p {
    position: relative;
    height: 36px;
    bottom: 36px;
    overflow: hidden;
    transition: bottom .4s theme('custom.animation');
    transition-delay: .7s;
  }
  .is-inview p {
    bottom: 0;
  }

  .divider {
    width: 90vw;
    max-width: 800px;
  }

  .divider:after {
    transition: width .4s theme('custom.animation'), background-color .4s theme('custom.animation');
    transition-delay: .2s;
    content: '';
    height: 1px;
    display: block;
    width: 1px;
  }
  .black .divider:after {
    background-color: theme('colors.black');
  }
  .white .divider:after {
    background-color: theme('colors.white');
  }

  .is-inview .divider:after {
    width: 100%;
  }

  .black .is-inview .divider:after {
    background-color: theme('colors.white');
  }
 .white .is-inview .divider:after {
   background-color: theme('colors.black');
 }

  ::-moz-selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }
  ::selection {
    color: theme('colors.black');
    background: theme('colors.white');
  }

</style>
