<template>
  <div class="sidebar">
    <a v-for="item in navitems" :href="item.href"
      class="hover:text-gray-500 py-3 block text-2xl font-extralight whitespace-nowrap"
      aria-current="page"
    >
      {{ item.title }}
    </a>
  </div>
</template>

<script>
  import nav from '../models/nav';

  export default {
    name: "Sidebar.vue",
    data: function () {
      return {
        navitems: nav
      }
    },
  }
</script>

<style scoped>
  .sidebar {
    width: 20rem;
    /*border-right: 1px solid gray;*/
  }

  a {
    transition-property: all;
    transition-duration: 0.6s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
  }
  a:hover {
    transform: translateX(-5px);
  }

</style>
