<template>
  <div class="pl-10 pt-12 text-gray-400 font-light">
    <p class="text-5xl mb-2 font-poiret font-extralight">Johannes Grupp</p>
    <p class="text-small">Ingenieur (B. Sc.) / Sr. Frontend Developer</p>
  </div>

</template>

<script>
export default {
  name: "Title"
}
</script>

<style scoped>

</style>
