<template>
  <div id="app" class="min-h-screen z-20">
    <LoadingScreen :loading="loadingScreen"></LoadingScreen>
    <ReloadScreen/>
    <main class="bg-white relative z-20" data-scroll-container>
      <Appbar id="appbar" class="absolute top-0 left-0 right-0 z-30"/>
      <Nuxt/>
    </main>
  </div>
</template>

<script>
  import Appbar from '@/components/Appbar';
  import Sidebar from '@/components/Sidebar';
  import Footer from '@/components/Footer';
  import locomotive from "@/mixins/locomotive";

  export default {
    name: "default",
    mixins: [locomotive],
    components: { Appbar, Sidebar, Footer },
    data: function () {
      return {
        loadingScreen: true
      }
    },
    head() {
      return {
        script: [{
          hid: 'luxy',
          src: '/locomotive-scroll/locomotive-scroll.min.js',
          defer: true,
          callback: () => {
            this.initLocomotive();
            this.loadingScreen = false;
          }
        }]
      }
    }
  }
</script>

<style>

  ::-moz-selection {
    color: theme('colors.white');
    background: theme('colors.black');
  }
  ::selection {
    color: theme('colors.white');
    background: theme('colors.black');
  }

</style>
