<template>
 <div id="wrapper">
    <Hero
      :title="error.statusCode"
      :subtitle="error.statusCode === 404 ? 'Page not found' : 'An error occurred'"
      type="white"
      class="relative" data-scroll-section />
    <section class="max-w-4xl m-auto
    mt-20 mb-16 lg:mb-44 pb-1 lg:pb-10 px-16" data-scroll-section>
      <h2
        v-if="error.statusCode === 404"
        class="text-2xl mb-6">What's worse, a hilarious 404 page can't be found either.</h2>
    </section>
   <Footer data-scroll-section/>
  </div>
</template>

<script>
export default {
  name: "error",
  props: ['error']
}
</script>

<style scoped>

</style>
