<template>
<div>
  <Hero
    title="about()"
    type="white"
    class="relative" data-scroll-section />

  <section class="about textstyle
    mt-20 pt-16 lg:pt-32 mb-16 lg:mb-44 pb-1 lg:pb-10
    bg-gray-100 lg:bg-transparent" data-scroll-section>
    <div class="max-w-7xl m-auto px-6">
      <p class="show-scroll show-scroll-side" data-scroll>In 2004 I build my first website with Dreamweaver. Fast-forward to today, I have done my B.Sc. in Media Informatics and gained more than 10 years of experience in developing interactive mobile friendly websites and applications in agile environments.
      </p>
      <p class="show-scroll show-scroll-side" data-scroll>
        Currently, I work as a Frontend Developer at Daimler Truck. My main task is working on an interactive fleet management tool.
        The software is build with Angular in a Nx Workspace with NgRx, RxJs and TypeScript. I am part of the framework team, which is responsible for maintenance and UI Components
        with Storybook Stories. I am also supporting the tech recruitments of new Frontend Developer, by evaluating resumes and leading technical interviews.
      </p>
      <p class="show-scroll show-scroll-side" data-scroll>
        I like well-structured clean code and have a strong understanding of Git. I am experienced in managing projects, as part of the management team of Pagemachine (former company I worked for), conducting code reviews, as well as mentoring and training junior engineers. One of my strength is explaining technical details to non-technical customers. I am used to work in agile environments, especially Scrum.
      </p>
      <img
        class="img-ffm hidden xl:block"
        src="https://images.prismic.io/johannesgrupp/e4c38765-8c35-4847-871a-28aa13e9561f_frankfurt2.jpeg?auto=compress,format"
        data-scroll data-scroll-speed="1"
      />
    </div>
  </section>
  <section class="pb-32 fontstyle" data-scroll-section>
    <div class="max-w-7xl m-auto px-6">
      <h2>Skills</h2>
      <ul class="accordion relative show-scroll-child" ref="accordion" data-scroll>
        <li v-for="(skill, index) in skills" :key="'skill'+ index"
          class="accordion-item"
          :class="'delay-'+ (index+2)*100">
          <button @click="accClick($event)"
            class="accordion-item_btn md:w-3/12">
            <span class="accordion-item_btn__hover">{{ skill.title }}</span>
          </button>
          <div class="accordion-item_content bg-white
            md:absolute md:left-1/3 md:top-0 md:w-8/12 md:pt-0">
            <template v-if="Array.isArray(skill.content)">
              <div class="grid grid-cols-2 gap-2
                md:grid-cols-3 md:gap-4
                lg:grid-cols-4
                ">
                  <span v-for="content in skill.content">{{ content }}</span>
              </div>
            </template>
            <template v-else>
              <div v-html="skill.content"></div>
            </template>
          </div>
        </li>
      </ul>
    </div>
  </section>
  <section class="pb-32 fontstyle" data-scroll-section>
    <div class="max-w-7xl m-auto px-6">
      <h2>Experience</h2>
      <div class="grid gap-4
                md:grid-cols-3 md:gap-4
                lg:grid-cols-4
                ">
        <div>
          <strong class="font-medium">Frontend Developer</strong><br>
          <span class="text-sm opacity-70">@ Daimler Truck<br>
            2024 - 2022</span>
        </div>
         <div>
          <strong class="font-medium">Sr. Frontend Developer</strong><br>
          <span class="text-sm opacity-70">@ Asuro<br>
            2022 - 2019</span>
        </div>
        <div>
          <strong class="font-medium">Frontend Developer</strong><br>
          <span class="text-sm opacity-70">@ Pagemachine<br>
          2019 - 2014</span>
        </div>
        <div>
          <strong class="font-medium">Jr. Frontend Developer</strong><br>
          <span class="text-sm opacity-70">@ di support<br>
            2014 - 2012</span>
        </div>
      </div>
    </div>
  </section>

  <Footer data-scroll-section/>
</div>
</template>

<script>
import { skills } from "~/models/about";
import locomotive from "@/mixins/locomotive";


export default {
  name: "about",
  mixins: [locomotive],
  data: function() {
    return {
      skills: skills
    }
  },
  mounted() {
    this.initLocomotive();
  },
  methods: {
    accClick: function($event) {
      // ul.accordion > li.accordion-item > button.accordion-item_btn > span.accordion-item_btn__hover
      const button = $event.target.parentElement;
      const listItem = $event.target.parentElement.parentElement;
      const content = button.nextElementSibling;
      console.log(listItem.attributes);
      for (let attribute of listItem.attributes) {
       if (attribute.name === 'active') {
         return;
       }
      }
      for (let item of this.$refs.accordion.children) {
        item.childNodes[2].style.maxHeight = null;
        item.removeAttribute('active');
      }
      listItem.setAttribute('active', '');
      content.style.maxHeight = content.scrollHeight + 12 + 'px';

    }
  }
}
</script>

<style scoped>

  h2 {
    margin-bottom: theme('spacing.5');
    color: theme('colors.gray.800');
    font-size: theme('fontSize.xs');
    font-weight: 500;
  }

  .accordion-item {
    transform-style: unset;
  }

  .accordion-item_content {
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition:
      max-height .4s cubic-bezier(.215,.61,.355,1),
      opacity .8s cubic-bezier(.215,.61,.355,1),
      padding-top .4s cubic-bezier(.215,.61,.355,1),
      padding-bottom .4s cubic-bezier(.215,.61,.355,1);
    padding: 0 theme('spacing.2');
   }

  .accordion-item[active] .accordion-item_content {
    opacity: 1;
    padding-top: 12px;
    padding-bottom: 12px;
  }

  .accordion-item_btn {
    font-weight: 600;
    margin-bottom: theme( 'spacing.1');
    margin-top: theme('spacing.4');
    border-bottom: 1px solid theme('colors.gray.300');
    display: block;
    width: 100%;
    text-align: left;
  }

  .accordion-item_btn:after {
    position: relative;
    transition: width 0.6s theme('custom.animation'), background-color 0.6s theme('custom.animation');
    content: '';
    height: 1px;
    display: block;
    width: 0px;
    background-color: theme('colors.gray.300');
    top: 0;
  }
  .accordion-item[active] .accordion-item_btn:after {
    width: 100%;
    background-color: theme('colors.black');
  }

  .accordion-item_btn__hover {
    display: block;
    padding-bottom: theme('spacing.3');
    padding-left: theme('spacing.2');
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
  }

  .accordion-item_btn__hover:hover {
    transform: translateX(5px);
    opacity: .6;
  }

  .img-ffm {
    position: absolute;
    left: calc(67vw - 7rem);
    top: 22%;
    height: 50%;
    width: auto;
  }

  @media (min-width: theme('screens.lg')) {
    .about:before {
      content: '';
      width: clamp(830px, 67vw, 67vw);
      height: 100%;
      background-color: #f1f0f0;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .about p {
    max-width: 40rem;
    margin-bottom: theme('spacing.20');
    position: relative;
  }

  .about p:after {
    content: '';
    width: 28rem;
    height: 1px;
    background: theme('colors.gray.300');
    position: absolute;
    bottom: -2.5rem;
    left: -10rem;
  }

  .about p:last-of-type:after {
    content: none;
  }


</style>
