<template>
<div id="wrapper">

  <Hero
    title="Johannes Grupp"
    subtitle="Sr. Frontend Developer"
    type="black"
    class="relative lg:h-screen" data-scroll-section />
  <div class="min-h-screen relative">
    <section data-scroll-section>
      <img src="https://images.prismic.io/johannesgrupp/160ab416-a6de-4697-a810-6ef9dd9ca3cf_profil.jpg?auto=compress,format" alt="thats me"
        class="absolute title-img" loading="lazy"
        data-scroll data-scroll-speed="-0.5"
      />

      <div class="relative
         pb-28 lg:pb-56 pt-96 md:pt-36 px-6
         md:left-2/4 w-100 md:w-96 w-100
         text-xl md:text-2xl lg:text-3xl
         text-center show-scroll" data-scroll>
        I am a Sr. Frontend Developer based in Frankfurt a.M. (Ger), with a passion for programming and styling.<br>
        I <span class="colored">develop, template and style</span> interactive applications and mobile friendly and SEO conform websites.
      </div>
    </section>

    <section class="
      md:py-16 lg:py-32 px-6
      max-w-2xl lg:max-w-4xl
      m-auto sm:grid sm:grid-cols-2 lg:gap-16" data-scroll data-scroll-section>
      <div class="mb-12">
        <h2>// Skills</h2>
        <ul class="text-2xl md:text-3xl show-scroll-child" data-scroll>
          <li class="delay-200">JavaScript</li>
          <li class="delay-300">Angular</li>
          <li class="delay-400">Vue.Js</li>
          <li class="delay-500">HTML5</li>
          <li class="delay-600">Styling languages</li>
          <li class="delay-700">Git</li>
          <li class="delay-800">Mentoring</li>
        </ul>
      </div>
      <div class="show-scroll-child" data-scroll>
        <h2>// Passion</h2>
        <p>
          I've been a developer for more than 10 years and feel fortunate to practice my hobby as a profession.
          Besides coding and digital technologies, I am also into styling and design. So, good design is always a great motivation ;) <br>
          I have a strong sense of the bigger picture and also consider projects from a business perspective.
          Sustainable behavior and social justice are especially important to me, and I strive to live my life according to them.
          I don't like looking at facts only superficially but also aim for a deeper understanding.
        </p>
      </div>
    </section>

    <section data-scroll-section>
      <div class="pt-32 max-w-3xl m-auto text-center">
        <h2>I worked for them</h2>
        <p class="px-6">
          In my professional career I have worked for international clients in close cooperation.
          My tasks were planning and realising the web presences, as well as customer service and technical support.
        </p>
      </div>
      <div class="customer
        text-xl md:text-2xl lg:text-3xl text-center lg:whitespace-nowrap
        pb-16 md:pb-32
        max-w-3xl lg:max-w-max m-auto"
        data-scroll data-scroll-direction="horizontal" data-scroll-speed="8" data-scroll-offset="0,0">
        <ul class="mt-4">
          <li>HBM Germany</li>
          <li>Denso Robotics</li>
          <li>Schäffler</li>
          <li>Monster</li>
          <li>Frankfurter Allgemeine Zeitung</li>
          <li>Daimler Truck</li>
        </ul>
    </div>
    </section>

    <section class="py-16 md:py-32 px-6 m-auto personal-projects show-scroll-child" data-scroll data-scroll-section>
      <h2>// Personal Projects</h2>
      <p>
        Unfortunately I can't show my professional projects, but beside my work I have worked on some private projects, which i'd like to show.
        Below is a few of my most recent projects.
        To view all work, head over to the <NuxtLink to="/projects" class="underline hover:no-underline">projects page</NuxtLink>
        or go to my <a href="https://bitbucket.org/jgrp" target="_blank" title="Git Repository" class="underline hover:no-underline">Git Repository</a>.
      </p>
      <div class="m-auto lg:grid lg:grid-cols-2 gap-16 mt-4">
        <div class="relative hidden lg:block">
          <div v-for="(item, index) in projects" :key="'project-img-'+ index"
            class="projects-img absolute top-0 right-0 h-full" ref="projectImg">
            <PrismicImage :field="item.items[0].image"/>
          </div>
        </div>
        <ul class="projects">
          <li v-for="(item, index) in projects" :key="'project-title-'+ index" ref="project"
            class="projects-title font-light flex"
            @mouseenter="showProject(index)"
            @mouseleave="hideProject(index)"
          >
           <NuxtLink to="/projects" class="py-14 w-full flex">
            <span class="flex-1 flex-grow-1">
              {{ item.primary.title }}
            </span>
            <span class="text-sm opacity-70">
              <{{ item.primary.category }}>
            </span>
           </NuxtLink>
          </li>
        </ul>
      </div>

    </section>

    <section class="px-6
      pt-16 md:py-32 pb-24 md:pb-60
      m-auto max-w-6xl" data-scroll data-scroll-section>
      <h2>Publications & Certificates</h2>
      <div class="md:grid md:grid-cols-2 gap-16">
        <a v-for="item in certs" :href="item.link" class="hover:opacity-60 cert-link show-scroll-child block mb-12 md:mb-6" target="_blank"
          data-scroll>
          <h3 class="text-2xl">{{ item.name }}</h3>
          <p class="text-sm text-gray-600">// {{ item.desc }}</p>
        </a>
      </div>

    </section>

  </div>

  <Footer data-scroll-section/>
</div>
</template>

<script lang="ts">
import Vue from 'vue'
import Appbar from "~/components/Appbar.vue";
import { certs } from "~/models/home";
import locomotive from "~/mixins/locomotive";

export default Vue.extend({
  components: { Appbar },
  mixins: [locomotive],
  data: function () {
    return {
      certs: certs,
    }
  },
  methods: {
    showProject: function(index: number) {
      // @ts-ignore: Unreachable code error
      this.$refs.projectImg[index].classList.add('active');
    },
    hideProject: function(index: number) {
      // @ts-ignore: Unreachable code error
      this.$refs.projectImg[index].classList.remove('active');
      // @ts-ignore: Unreachable code error
      this.$refs.projectImg[index].classList.add('deactive');
      // @ts-ignore: Unreachable code error
      this.$refs.projectImg[index].classList.remove('deactive');
      setTimeout(() => {
      }, 600);
    }
  },
  mounted() {
    // @ts-ignore: Unreachable code error
    this.initLocomotive();
  },
  // @ts-ignore: Unreachable code error
  async asyncData({ $prismic, params, error }) {
    const document = await $prismic.api.getSingle('projects')
  // @ts-ignore: Unreachable code error
    const projects = document.data.slices.filter(slice => {
      return slice.primary.start
    })
    if (projects) {
      return { projects }
    } else {
      error({ statusCode: 404, message: 'Page not found' })
    }
  }
})
</script>

<style scoped>

  .title-img {
    top: -40px;
    left: 10%;
    width: clamp(287px, 40%, 505px);
  }
  @media (min-width: 1024px) {
    #app .w-100 {
      width: 30rem;
    }
  }


  h2 {
    margin-bottom: theme('spacing.5');
    color: theme('colors.gray.800');
    font-size: theme('fontSize.xs');
    font-weight: 500;
  }

  .customer li {
    display: inline-block;
    margin-left: 0.9vw;
    margin-right: 0.9vw;
    /*font-size: 1.88vw;*/
  }

  .personal-projects {
    max-width: 1600px;
  }

  .projects-title {
    border-bottom: 1px solid theme('colors.gray.300');
    position: relative;
  }

  .projects-title:after {
    content: '';
    height: 1px;
    width: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: theme('colors.black');
    transition: width 0.6s theme('custom.animation');
    z-index: -2;
  }
  .projects-title:hover:after {
    width: 100%;
  }

  .projects .projects-title {
    transition: opacity 0.6s theme('custom.animation');
  }
  .projects:hover .projects-title {
    opacity: 0.4;
  }
  .projects .projects-title:hover {
    opacity: 1;
  }

  .projects-img {
    transition: opacity 0.6s cubic-bezier(0.87, 0, 0.13, 1);;
    will-change: opacity;
    opacity: 0;
    overflow: hidden;
  }
  .projects-img.active {
    opacity: 1;
    z-index: 99;
  }
  .projects-img img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: 100% 50%;
    transform: scale(1.1);
    transition: transform 2s cubic-bezier(0.16, 1, 0.3, 1);
  }
  .projects-img.active img {
    transform: scale(1);
  }
  .projects-img.deactive img {
    transform: scale(1);
  }

  .cert-link {
    transition-property: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);
    transition-delay: 0s;
  }
  .cert-link:hover {
    transform: translateX(5px);
  }
  .cert-link p {
    transition-delay: .3s;
  }

</style>
