<template>
<div>
  <Hero
    title="projects('personal')"
    type="white"
    class="relative" data-scroll-section />
  <div class="py-32 px-6 md:px-12" data-scroll-section>
  <div class="max-w-screen-xl m-auto mb-36 textstyle">
    <p>
      Besides my work I have developed a website in JAM stack, using Nuxt.js and Prismic and learning Flutter, by creating a private Android app. Feel free to have also a look on my <a href="https://bitbucket.org/jgrp" target="_blank" title="Git Repository" class="underline hover:no-underline">Bitbucket account</a>.
      <br>
      I love clean design as much as clean code and enjoy working on private design projects. Other passions are photography and film editing. For my personal development I also like to improve myself by playing piano, drums or basketball.
    </p>
  </div>
    <slice-zone :components="components" :slices="document.data.slices"></slice-zone>
  </div>
  <Footer data-scroll-section/>
</div>
</template>

<script>
import { components } from '~/slices'
import locomotive from "@/mixins/locomotive";

export default {
  name: "projects",
  mixins: [locomotive],
  data: function () {
    return { components }
  },
  mounted() {
    // @ts-ignore: Unreachable code error
    this.initLocomotive();
  },
  async asyncData({ $prismic, params, error }) {
    const document = await $prismic.api.getSingle('projects')

    if (document) {
      return { document }
    } else {
      error({ statusCode: 404, message: 'Page not found' })
    }
  }
}
</script>

<style scoped>

  .textstyle p {
    max-width: 55rem;
  }
</style>
