<template>
  <section
    class="max-w-screen-xl m-auto grid lg:grid-cols-2 gab-2 lg:gap-10 mb-36">
    <div :class="{'lg:order-2': (index % 2)}" class="show-scroll" data-scroll :data-scroll-offset="scrollOffset">
      <p class="border-b pb-1 border-current text-gray-800 text-xs font-medium">
        <{{ slice.primary.category }}>
      </p>
      <h2 class="text-3xl sm:text-4xl md:text-5xl pt-10 mb-10">{{ slice.primary.title }}</h2>
      <p class="mb-3">{{ slice.primary.Description }}</p>
      <p v-if="slice.primary.technologies"
        class="text-sm opacity-70 mb-2">
        // {{ slice.primary.technologies }}
      </p>
      <p v-if="slice.primary.year"
        class="text-sm opacity-70 mb-14">
       // {{ slice.primary.year }}
      </p>
      <p v-if="slice.primary['link-code'].url"
        class="md:w-1/2">
        <PrismicLink
          :field="slice.primary['link-code']"
          class="block mt-4 pb-2 border-b border-gray-300 link"
          target="_blank">
          Code
        </PrismicLink>
      </p>
      <p v-if="slice.primary['link-show'].url"
        class="md:w-1/2">
        <PrismicLink
          :field="slice.primary['link-show']"
          class="block mt-4 pb-2 border-b border-gray-300 link"
          target="_blank">
          Show
        </PrismicLink>
      </p>

    </div>
    <template v-if="slice.items.length > 1">
      <div class="pt-5 show-scroll splide" data-scroll :data-scroll-offset="scrollOffset">
        <div class="splide__track">
          <div class="splide__list">
            <PrismicImage v-for="(item, i) in slice.items"
              :key="i"
              :field="item.image"
              class="splide__slide"
              loading="lazy"/>
          </div>
        </div>
      </div>
    </template>
    <template v-else>
      <div class="pt-5 show-scroll" data-scroll :data-scroll-offset="scrollOffset">
        <PrismicImage :field="slice.items[0].image" loading="lazy"/>
      </div>

    </template>
 </section>

</template>

<script>
import { getSliceComponentProps } from "@prismicio/vue/components";
import Splide from "@splidejs/splide";


export default {
  name: "Project",
  // The array passed to `getSliceComponentProps` is purely optional and acts as a visual hint for you
  props: getSliceComponentProps(["slice", "index", "slices", "context"]),
  mounted() {
    if(this.slice.items.length > 1) {
      new Splide('.splide').mount();
    }
  },
  computed: {
    scrollOffset: function() {
      return (this.index === 0) ? '0%' : '25%';
    }
  }
}
</script>

<style scoped>
p {
  margin-bottom: theme('spacing.6');
}

.link:after {
  position: relative;
  transition: width 0.6s theme('custom.animation'), background-color 0.6s theme('custom.animation');
  content: '';
  height: 1px;
  display: block;
  width: 1px;
  background-color: theme('colors.gray.300');
  top: theme('spacing.2');
}
.link:hover:after {
  width: 100%;
  background-color: theme('colors.black');
}

.show-scroll {
  transform: scale(85%);
  transform-origin: center center;
  transition: transform 300ms cubic-bezier(0.345, 0.115, 0.135, 1.42),opacity 200ms ease-out;
}
</style>

